.container {
	margin: auto;
	background-color: white;
}
.conContainer {
	margin: auto;
	text-align: center;
	height: 800px;
	width: 600px;
	border: 1px solid gray;
}
.top {
	text-align: center;
}
.title {
	font-family: 'Montserrat', sans-serif;
}
i {
	color: #1aa3ff;

}
.buttons {
	text-align: center;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
.sortButton, .siftButton {
	margin: 20px;
	height: 30px;
	width: 80px;
	color: #1aa3ff;
	background-color: white;
	font-weight: bolder;
	font-size: 18px;
	border: 1px solid #1aa3ff;
	letter-spacing: 1px;
}
.sortButton:hover, .siftButton:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}
.wordSearch {
	width: 200px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.txtWindow {
	margin: auto;
	height: 500px;
	width: 400px;
	border: 1px solid gray; 
}